body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('./components/_2ae73e80-31d5-44c5-a55b-adce8d0914e4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}



#root {
  height: 100%;
  overflow: auto;
}
