body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('./components/sodapdf-converted.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: auto;
}
