body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('.components/_3a819ef5-78ad-49b7-9690-30057430d0b1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}



#root {
  height: 100%;
  overflow: auto;
}
